MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret
KEY_ID=your_razorpay_key_id
KEY_SECRET=your_razorpay_key_secret
CORS_ORIGINS=https://ecommerce-styloria-2vah.vercel.app,https://ecommerce-2vah.vercel.app
